.table {
  text-align: right !important;
}

.table td {
  cursor: pointer;
}

.my-custom-scrollbar {
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  margin: 20px 200px 20px 200px;
}

th {
  text-size-adjust: 100px !important;
  font-size: 20px;
  position:sticky !important;
  top: 0px;
}

td {
  text-size-adjust: 100px !important;
  font-size: 16px;
}

.vmf-positive {
  color: green;
  font-weight: bold;

}

.vmf-negative {
  color: red;
  font-weight: bold;
}

#addGroupPayment {
  background-color:#7fa99b;
  color: white;
}

.ui.modal {
  text-align: center !important;
}
.modalContent{
  background-color: #f1f1f1 !important;
}

.selectableHeader{
  background-color: #f1f1f1 !important;

}

.actions{
  text-align: center !important;
}