.table {
  text-align: right !important;
}

.my-custom-scrollbar {
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  margin: 20px 160px 20px 160px;
}

.wrapper{
  padding: 0 210px;
  text-align: right !important;
  margin: 20px 100px 110px 110px;
}

th {
  text-size-adjust: 100px !important;
  font-size: 20px;
}

td {
  text-size-adjust: 100px !important;
  font-size: 16px;
}

td:hover {
  cursor: pointer;
}

.modalContent{
  padding: 50px;
  text-align: right !important;
}

.vmf-positive {
  color: green;
  font-weight: bold;

}

.vmf-negative {
  color: red;
  font-weight: bold;
}

.accordion {
  margin: auto !important;
  width: 50% !important;
}