.table {
  text-align: right !important;
}

td:hover{
  cursor: pointer;;
}

#addGroupPaymentBtn {
  background-color:#7fa99b;
  color: white;
}

.modalContent{
  background-color: #f1f1f1 !important;
}

.selectableHeader{
  background-color: #f1f1f1 !important;
  
}

#selectedCountIcon{
  margin-right: 2px;
}
