#addGroupForm {
  display: none;
}

#groupMemberTable {

  text-align: right;
}

#groups-menu {
  text-align: right !important;
}

.actions {
  text-align: center !important;
}

.textLeft {

  text-align: right !important;

}

.button {
  text-align: right !important;
}

#trackingGroupBtn {
  display: none;
}


#delGroupBtn {
  margin-top: 20px !important;
  /* margin-left: 10px !important; */
  display: none;
}

#editGroupBtn {
  margin-top: 20px !important;
  /* margin: 10px !important; */
  display: none;
}

#showNamePlaceHoler{
  font-family: 'Shuneet', serif !important;
  font-size:25px;
}

#group-details {
  display: none;
  margin: auto;
  width: 50%;
  padding: 10px;
}

td:hover {
  cursor: pointer;
}

#groupMemberTable {
  display: none;
}

/* .my-custom-scrollbar {
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  margin: 20px 160px 0 160px;
} */