/* .table-wrapper {
    margin-top: 10px;
    padding: 0 210px;
  } */

  .modalText{
    text-align: right !important;
  }
  
  /* .table{
    text-align: right !important; 
    margin: 110px;
  } */

  
  /* .my-custom-scrollbar {
    height: 300px;
    overflow: auto;
  }
  
  .table-wrapper-scroll-y {
    display: block;
    margin: 20px 300px 20px 300px;
  } */
  
  .accordion{
    margin: auto !important;
    width: 50% !important;
  }

 