  .ndr-form {
    margin-right: 20%;
    margin-left: 20%;
  }

  body {
    /* background: -webkit-linear-gradient(65deg, #c6cbef 52%, #E4E9FD 50%) no-repeat fixed; */
    background: url("../images/background1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    /* height: 1000px;
    width: 1300px; */
  }

  .large-text {
    font-size: 1.5rem !important;
  }

  .table-text {
    font-size: 1.3rem !important;
  }

  .meduim-text {
    font-size: 1.1rem !important;
  }

  /*moved globaly*/
  .ui.modal {
    text-align: center !important;
  }

  .actions {
    text-align: center !important;
  }

  .trash.icon {
    cursor: pointer;
  }

  .table {
    text-align: right !important;
  }

  .my-custom-scrollbar {
    height: 300px;
    overflow: auto;
  }

  .table-wrapper-scroll-y {
    display: block;
    margin: 20px 200px 2px 200px;
  }

  th {
    text-size-adjust: 100px !important;
    font-size: 12px;
    position: sticky !important;
    top: 0px;
  }

  td {
    text-size-adjust: 100px !important;
    font-size: 10px;
  }

  .vmf-positive {
    color: green;
    font-weight: bold;

  }

  input::placeholder,
  textarea::placeholder{
    color:black !important;
  }

  .vmf-negative {
    color: red;
    font-weight: bold;
  }

  .ta-ndr {
    text-align: center !important;
  }

  @font-face { font-family: Shuneet; 
    src: url('../fonts/shuneet_book_v2.otf'); } 

    body {
      /* font-size: 100%; */
       font-family:Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif, Times, serif; 
     }

  h1
{
  font-family: 'Shuneet', serif !important;
  font-size:25px;
}

h2
{
  font-family: 'Shuneet', serif !important;
  font-size:15px;
}
