  .ndr-form {
    margin-right: 20%;
    margin-left: 20%;
  }

  
  body{
    background-image: -webkit-linear-gradient(65deg, #c6cbef 52%, #E4E9FD 50%);
    text-align: center;
  } 

  .large-text{
    font-size: 1.5rem!important;
  }

  .meduim-text{
    font-size: 1.2rem!important;
  }


  