

.search-ndr {
  text-align: center !important;
  max-width: 211px;
  margin: 20px auto;
}

td:hover {
  cursor: pointer;
}

#search-input {
  text-align: right !important;
  padding: 10px 15px 10px 30px !important;
}

#membersTable {
  display: none;
}

th{
  text-align: right !important;
}

.wrapper {
  text-align: center;
}

.button {
  margin: 0 auto;
  /* background: #bebec4 !important; */
}

.search.icon {
  left: 0 !important;
  right: auto !important;
}

.result {
  text-align: center !important;
}

/* 
 .my-custom-scrollbar {
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  margin: 20px 160px 0 160px;
}  */