.form-wrapper {
  /* max-width: 30%; */
  /* min-width: 300px; */
  box-shadow: 0px 0px 3px 0px rgb(71, 71, 71);
  padding: 30px 30px 10px 30px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(219, 72, 72, 0.07); */
}

input,
select {
  font-size: 16px !important;
  height: 40px !important;
  position: relative !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: 0 1.5px 1px 0 #d6d4d4 !important;
  transition: box-shadow 150ms ease-out !important;

}

textarea,
input,
select {
  background-color: #faf7f7 !important;

}


label {
  font-size: 13px !important;
  text-align: right !important;
  font-weight: normal !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif, Times, serif !important;
}

h3 {
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color: SlateBlue;
  text-align: center;
  text-decoration: underline
}

.tabRight {
  padding-right: 1em !important;
}

table.inner {
  border: 0px
}

.view-ndr {
  text-align: center !important;
}

.title {
  text-align: center;
}

