.table-wrapper {
    margin-top: 10px;
    padding: 0 210px;
  }

  .modalText{
    text-align: right !important;
  }
  
  .table{
    text-align: right !important; 
    margin: 110px;
  }

  .trash:hover{
    cursor: pointer;
  }
  
  .my-custom-scrollbar {
    height: 300px;
    overflow: auto;
  }
  
  .table-wrapper-scroll-y {
    display: block;
    margin: 20px 300px 20px 300px;
  }
  

  th{
    text-size-adjust:  100px !important;
    font-size: 20px;
  }

  td{
    text-size-adjust:  100px !important;
    font-size: 16px;
  }

  .vmf-positive{
      color: green;
      font-weight: bold;
      
  }

  .vmf-negative{
      color: red;
      font-weight: bold;
  }

  .accordion{
    margin: auto !important;
    width: 50% !important;
  }

 