h3 {
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color: SlateBlue;
  text-align: center;
  text-decoration: underline
}

.tabRight {
  padding-right: 1em !important;
}

.view-ndr {
  text-align: center !important;
}

.title {
  text-align: center;
}
