.table-wrapper {
    margin-top: 10px;
    padding: 0 210px;
  }

  .table{
    text-align: right !important; 
    margin: 110px;
  }

  th {
    text-size-adjust: 100px !important;
    font-size: 20px;
    position:sticky !important;
    top: 0px;
  }

  td{
    text-size-adjust:  100px !important;
    font-size: 16px;
  }

  .vmf-positive{
      color: green;
      font-weight: bold;
      
  }

  .vmf-negative{
      color: red;
      font-weight: bold;
  }

  .accordion{
    margin: auto !important;
    width: 50% !important;
  }

 