h3{
    font-family: Calibri; 
    font-size: 25pt;         
    font-style: normal; 
    font-weight: bold; 
    color:SlateBlue;
    text-align: center; 
    text-decoration: underline
  }

  .tabRight{
		padding-right: 1em !important;
  }
  
  table{
    font-family: Calibri; 
     direction: rtl; /* table from right to left */
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    /* text-align:right; text from right to left */
    background-color: rgb(146, 145, 151); 
    border-collapse: collapse; 
    border: 2px solid rgb(2, 2, 22)
  }
  table.inner{
    border: 0px
  }

  .view-ndr{
      text-align: center !important;
  }
.title{
    text-align: center;
}

.ta-ndr{
  text-align: center !important; 
}
