.ui.modal {
  text-align: center !important;
}

.modalHeader{
  /* background-color: #cccccc !important; */
  
}

.modalContent{
  background-color: #f1f1f1 !important;
}


.sumAll{
  margin: auto !important;
  width: 30% !important;
}

.table {
  text-align: right !important;
}

.trash.icon {
  cursor: pointer;
}

.my-custom-scrollbar {
  height: 300px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
  margin: 20px 200px 20px 200px;
}

th {
  text-size-adjust: 100px !important;
  font-size: 20px;
  position:sticky !important;
  top: 0px;
}



td {
  text-size-adjust: 100px !important;
  font-size: 16px;
}

.vmf-positive {
  color: green;
  font-weight: bold;

}

.actions{
  text-align: center !important;
}

.vmf-negative {
  color: red;
  font-weight: bold;
}

#addPayModalBtn {
  background-color:#7fa99b;
  color: white;
}

.receiptBtn{
  width:4em;
}

.receiptBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.receiptBtnYes span:after {
  content: 'לא \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.receiptBtnNo span:after {
  content: 'כן \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.receiptBtn:hover span {
  padding-right: 50px;
}

.receiptBtn:hover span:after {
  opacity: 1;
  right: 0;
}